<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fiveminions.financialreportmvpversion"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Clover" >
        <activity
            android:name="fiveminions.financialreportmvpversion.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="fiveminions.financialreportmvpversion.LOGINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.ForgotPasswordActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="fiveminions.financialreportmvpversion.FORGOTPASSWORDACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.UserHomePage1"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="fiveminions.financialreportmvpversion.USERHOMEPAGE1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="fiveminions.financialreportmvpversion.REGISTERACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.UserpageActivity"
            android:label="@string/hello" >
            <intent-filter>
                <action android:name="fiveminions.financialreportmvpversion.USERPAGEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.AdminPageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="fiveminions.financialreportmvpversion.ADMINPAGEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.AccountPageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="fiveminions.financialreportmvpversion.ACCOUNTPAGEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.NewAccountActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="fiveminions.financialreportmvpversion.NEWACCOUNTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.SettingPageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="fiveminions.financialreportmvpversion.SETTINGPAGEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.UserDetailActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="fiveminions.financialreportmvpversion.USERDETAILACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.BankAccountDetailActivity"
            android:label="@string/title_activity_bank_account_detail" >
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.TransactionActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="fiveminions.financialreportmvpversion.TRANSACTIONACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.AccountTransactionActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="fiveminions.financialreportmvpversion.ACCOUNTTRANSACTIONACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.AddTransactionActivity"
            android:label="@string/title_activity_add_transaction" >
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.TransactionDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.SpendingReportActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="fiveminions.financialreportmvpversion.UserHomepageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="fiveminions.financialreportmvpversion.USERHOMEPAGEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="JUnitTest.java"
        android:targetPackage="fiveminions.financialreportmvpversion" />

</manifest>